body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0a0f3c, #1a224b, #0d082d);
  background-size: 300% 300%;
  animation: bgMove 12s infinite alternate;
}

@keyframes bgMove {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(145deg, #202041, #414170, #07077e);
}

.glass-card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.45);
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.input-field input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.22);
  color: #fff;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.input-field input:focus {
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0 0 12px #6366f1;
}

.btn-primary {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  background: #6366f1;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #4f46e5;
  transform: translateY(-2px);
}

.error {
  color: #ff8585;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.switch-text {
  color: white;
  text-align: center;
  margin-top: 12px;
}

.switch-text span {
  color: #38bdf8;
  cursor: pointer;
}

::placeholder {
  color: rgb(255, 253, 253);
  opacity: 1;
}
/* ================= RESPONSIVE BREAKPOINTS ================= */

/* Tablets & Small Screens */
@media (max-width: 1280px) {
  .glass-card {
    width: 90%;
    padding: 30px;
    margin-top: -20%;
    margin-left: -40%;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn-primary {
    font-size: 15px;
  }
}




/* Tablets & Small Screens */
@media (max-width: 1140px) {
  .glass-card {
    width: 90%;
    padding: 30px;
    margin-top: -70%;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn-primary {
    font-size: 15px;
  }
}

@media (max-width: 1024px) and (min-height: 550px) {
  .auth-container {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .glass-card {
    width: 90%;
    margin: 0 !important;    
    left: 0;
    right: 0;
    transform: none;
  }
}

/* Tablets & Small Screens */
@media (max-width: 1024px) {
  .glass-card {
    width: 90%;
    padding: 30px;
    margin-top: -80%;
    margin-left: -15%;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn-primary {
    font-size: 15px;
  }
}
/* Tablets & Small Screens */
@media (max-width: 912px) {
  .glass-card {
    width: 90%;
    padding: 30px;
    margin-top: -90%;
    margin-left: -15%;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn-primary {
    font-size: 15px;
  }
}
/* Tablets & Small Screens */
@media (max-width: 853px) {
  .glass-card {
    width: 90%;
    padding: 30px;
    margin-top: -80%;
    margin-left: -5%;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn-primary {
    font-size: 15px;
  }
}
/* Tablets & Small Screens */
@media (max-width: 768px) {
  .glass-card {
    width: 90%;
    padding: 30px;
    margin-top: -50%;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn-primary {
    font-size: 15px;
  }
}

/* Mobile Devices */
@media (max-width: 540px) {
  .glass-card {
    padding: 25px;
    border-radius: 15px;
    margin-top: -30%;
    margin-left: 3%;
  }
  .title {
    font-size: 1.2rem;
  }
  .input-field input {
    padding: 12px;
    font-size: 14px;
  }
  .btn-primary {
    padding: 12px;
    font-size: 14px;
  }
}
/* Mobile Devices */
@media (max-width: 480px) {
  .glass-card {
    padding: 25px;
    border-radius: 15px;
    margin-top: -30%;
  }
  .title {
    font-size: 1.2rem;
  }
  .input-field input {
    padding: 12px;
    font-size: 14px;
  }
  .btn-primary {
    padding: 12px;
    font-size: 14px;
  }
}

/* Extra small Mobiles (iPhone xr) */
@media (max-width: 440px) {
  .glass-card {
    padding: 20px;
    margin-top: -80%;
  }
  .title {
    font-size: 1.3rem;
  }
  .input-field input {
    margin-bottom: 14px;
  }
  .btn-primary {
    padding: 12px;
    font-size: 18px;
  }
}
/* Extra small Mobiles (iPhone xr) */
@media (max-width: 412px) {
  .glass-card {
    padding: 20px;
    margin-top: -80%;
  }
  .title {
    font-size: 1.3rem;
  }
  .input-field input {
    margin-bottom: 14px;
  }
  .btn-primary {
    padding: 12px;
    font-size: 18px;
  }
}

/* Extra Small Mobiles (Galaxy Fold, iPhone SE) */
@media (max-width: 375px) {
  .glass-card {
    padding: 20px;
    margin-top: -30%;
  }
  .title {
    font-size: 1.1rem;
  }
  .input-field input {
    margin-bottom: 14px;
  }
}
/* Extra Small Mobiles (Galaxy Fold, iPhone SE) */
@media (max-width: 360px) {
  .glass-card {
    padding: 20px;
    margin-top: -40%;
  }
  .title {
    font-size: 1.1rem;
  }
  .input-field input {
    margin-bottom: 14px;
  }
}
/* Extra Small Mobiles (Galaxy Fold, iPhone SE) */
@media (max-width: 344px) {
  .glass-card {
    padding: 20px;
    margin-top: -90%;
  }
  .title {
    font-size: 1.1rem;
  }
  .input-field input {
    margin-bottom: 14px;
  }
}
